// 重複樣式設定 (例如)
// IndexPage...q-page (像是 CSS 的 body) id="aaa"
// #aaa
//     background: red

// 文字超過範圍自動換行
.text-wrapper
  white-space: pre-wrap
  word-break: break-all
  word-wrap: break-word


// 首頁 --------------------------------------------------------------------------------

// 輪播圖
.q-carousel
  height: 880px



